.button {}

.short {
    width: 200px;
    height: 51px;
    background: #5380EA;
    border: 1px solid #5380EA;
    box-shadow: 0px 10px 34px rgba(83, 128, 234, 0.5);
    border-radius: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    cursor: pointer;
    
    transition: all 250ms linear;
}

.short:hover {
    background: #23395c;
    transition: all 250ms linear;
}

.link {
    width: 480px;
    height: 95px;
    background: #F6FBF8;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #656565;
}
