.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
    width: 100%;
}

.left {
    width: 108px;
    height: 29px;
    margin-left: 4.6px;
    margin-top: 9.06px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 9.06px;
    width: 50%;
}

.validateContainer {
    margin-top: 9.06px;
}

.validate {
    width: 91px;
    height: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #515151;

    text-decoration: none;
    margin-right: 50px;
}

.docsContainer {
    margin-top: 9.06px;
}

.docs {
    text-decoration: none;

    padding: 16px 32px;

    width: 103px;
    height: 51px;

    background: #F0B80D;
    border: 1px solid #FFD24B;
    box-shadow: 0px 10px 34px #EAC555;
    border-radius: 40px;
    cursor: pointer;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #101010;

    transition: all 250ms linear;
}

.docs:hover {
    background: #74550b;
    border: 1px solid #74550b;
    box-shadow: 0px 10px 34px #74550b;

    transition: all 250ms linear;
}
