.container {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 22px;
    }
}

.short {
    color: #5380EA
}
