.input {
    width: 420px;
    height: 51px;

    background: #F9FAFF;
    border: 1px solid #DEE6FF;
    border-radius: 5px;

    padding: 8px 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 700px) {
    .input {
        width: 380px;
    }
}

.input::-webkit-input-placeholder {
    color: #AAAAAA;
}

.input:focus {
    border: none;
}
